<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">Customer's Profile</h1>
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <form action="/users/<%= thisUser.Userid %>/?_method=PUT" method="POST" class="validated-form" novalidate>
                <div class="mb-3">
                    <label for="FirstName" class="form-label">First Name</label>
                    <input type="text" name="FirstName" id="FirstName" class="form-control" autofocus required value="<%= thisUser.FirstName %>">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="LastName" class="form-label">Last Name</label>
                    <input type="text" name="LastName" id="LastName" class="form-control" required value="<%= thisUser.LastName %>">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="PhoneNo" class="form-label">Phone Number</label>
                    <input type="text" name="PhoneNo" id="PhoneNo" class="form-control" required value="<%= thisUser.PhoneNo %>">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="BirthDate" class="form-label">Birth Date</label>
                    <input type="date" name="BirthDate" id="BirthDate" class="form-control" required value="<%= thisUser.BirthDate %>">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="Address" class="form-label">Address</label>
                    <input type="text" name="Address" id="Address" class="form-control" required value="<%= thisUser.Address %>">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <div class="mb-3">
                        <label for="CarRegNum" class="form-label">Car Registration Number</label>
                        <input type="text" name="CarRegNum" id="CarRegNum" class="form-control" value="<%= thisUser.CarRegNum %>">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="BloodGroup" class="form-label">Blood Group</label>
                        <select class="form-select" name="BloodGroup" id="BloodGroup">
                            <option value="">Please choose your blood group.</option>
                            <option <%= thisUser.BloodGroup==="A" ? 'selected' : '' %> value="A">A</option>
                            <option <%= thisUser.BloodGroup==="B" ? 'selected' : '' %> value="B">B</option>
                            <option <%= thisUser.BloodGroup==="O" ? 'selected' : '' %> value="O">O</option>
                            <option <%= thisUser.BloodGroup==="AB" ? 'selected' : '' %> value="AB">AB</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3">
                    <button class="btn btn-primary">Update Profile</button>
                    <a href="/users/<%= currentUser._id.toString() %>" class="btn btn-danger">Cancel</a>
                </div>

            </form>
        </div>
    </div>