<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">Fortune Teller's Profile</h1>
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <form action="/users/<%= thisUser.Userid %>/?_method=PUT" method="POST" class="validated-form" novalidate>
                <div class="mb-3">
                    <label for="FirstName" class="form-label">First Name</label>
                    <input type="text" name="FirstName" id="FirstName" class="form-control" autofocus required readonly value="<%= thisUser.FirstName %>">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="LastName" class="form-label">Last Name</label>
                    <input type="text" name="LastName" id="LastName" class="form-control" required readonly value="<%= thisUser.LastName %>">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="PhoneNo" class="form-label">Phone Number</label>
                    <input type="text" name="PhoneNo" id="PhoneNo" class="form-control" required readonly value="<%= thisUser.PhoneNo %>">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="BirthDate" class="form-label">Birth Date</label>
                    <input type="date" name="BirthDate" id="BirthDate" class="form-control" required readonly value="<%= thisUser.BirthDate %>">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="Address" class="form-label">Address</label>
                    <input type="text" name="Address" id="Address" class="form-control" required readonly value="<%= thisUser.Address %>">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <!-- <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="type1" value="Palmistry" id="flexCheck1" data-bs-toggle="collapse" data-bs-target="#collapse1">
                        <label class="form-check-label" for="flexCheck1">
                            Palmistry
                        </label>
                    </div>
                    <div class="collapse mb-1" id="collapse1">
                        <div class="card card-body">
                            <label for="palmistryPrice" class="form-label">Price</label>
                            <input type="number" name="palmistryPrice" id="palmistryPrice" class="form-control">
                        </div>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="type2" value="Tarot" id="flexCheck2" data-bs-toggle="collapse" data-bs-target="#collapse2">
                        <label class="form-check-label" for="flexCheck2">
                            Tarot
                        </label>
                    </div>
                    <div class="collapse mb-1" id="collapse2">
                        <div class="card card-body">
                            <label for="tarotPrice" class="form-label">Tarot Price</label>
                            <input type="number" name="tarotPrice" id="tarotPrice" class="form-control">
                        </div>
                    </div> -->
                    <div class="mb-3">
                        <label for="WorkExp" class="form-label">Work Experience</label>
                        <textarea type="text" name="WorkExp" id="WorkExp" class="form-control" readonly><%= thisUser.WorkExp %></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <a href="/users/<%= currentUser._id.toString() %>/edit" class="btn btn-outline-secondary">Edit Profile</a>
                </div>

            </form>
        </div>
    </div>
    <div class="row">
        <h1 class="text-center">Ask For Extra Information</h1>
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <% for( let i=0; i < user.informationTypes.length; i++ ) { %>
                <div class="row">
                    <div class="card mb-3 index-card col-md-8 offset-md-2">
                        <div class="row">
                            <div class="">
                                <div class="card-body">
                                    <h2 class="card-title">
                                        Name:
                                        <%= user.informationTypes[i].name %>
                                    </h2>
                                    <p class="card-text">
                                        Description:
                                        <%= user.informationTypes[i].description %>
                                    </p>
                                    <a href="/extrainfotypes/<%= thisUser.Userid %>/<%= user.informationTypes[i]._id.toString() %>/edit" class="btn btn-primary">Edit</a>
                                    <form action="/extrainfotypes/<%= thisUser.Userid %>/<%= user.informationTypes[i]._id.toString() %>?_method=DELETE" method="POST" class="d-inline">
                                        <button class="btn btn-danger">Delete</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
                    <div class="mb-3 text-center">
                        <a href="/extrainfotypes/<%= thisUser.Userid %>/new" class="btn btn-outline-primary mb-3">Add a new extra information</a>
                    </div>
        </div>
    </div>